@charset "utf-8";
/* CSS Document */
@font-face{
    src: url("../fonts/arrusb.ttf");
    font-family: title;
}
@font-face{
    src: url("../fonts/Light.ttf");
    font-family: chu;
}
h1,h2,h3{
    font-family: title;
}
h4,h5,h6,p{
    font-family: chu;
}
.carousel1{
    background: url("../images/banner1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    height: 800px;
    position: relative;
}
.carousel2{
    background: url("../images/Untitled-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
    height: 800px;
    position: relative;
}
.intro{
    background-image: url("../images/bg.jpg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
    background-position: center center;	
    background-size: 100%;	
    background-repeat: no-repeat;
    height: 400px;
}
.service-box{
    background-color: white;
    color: black;
}
.w-20{
    width: 10%;
}
.w-30{
    width: 30%;
}
.footerbg{
    background-image: linear-gradient(to bottom, rgba(176, 106, 112, .55), rgba(176, 106, 112, .55)), url("../images/footerbg.jpg");
    background-position: center top;
}